#appoint{
    border: none;
    background-color: #999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: -10px;
}

#appoint:hover{
    cursor: pointer;
}

